@model TravelBlogAgain.Models.Experience

@{
    ViewData["Title"] = "Experience - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create a new experience</h2>
<hr />

@using (Html.BeginForm())
{
    <label>Activity</label>
    @Html.EditorFor(model => model.Activity)

    <label>Description</label>
    @Html.EditorFor(model => model.Description)

    <label>Location</label>
    @Html.DropDownList("LocationId")

    @foreach (var person in ViewBag.PersonList)
    {
        <input type="checkbox" name="experience_person" value=@person.PersonId />@person.Name
    }

    <input type="submit" value="Create" class="btn btn-default" />
}

@Html.ActionLink("Back Home", "Index", "Locations")
