@model TravelBlogAgain.Models.Experience

@{
    ViewData["Title"] = "Experience Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Html.DisplayFor(model => model.Activity)</h3>
<p>@Html.DisplayFor(model => model.Description)</p>
<h4>Companions: </h4>
@foreach (var person in ViewBag.Persons)
{
    <h4>@Html.ActionLink((string)person.Person.Name, "Details", "Persons", new { id = person.PersonId })</h4>
}

@Html.ActionLink("Edit this Experience", "Edit", new { id = Model.ExpId })<br />
@Html.ActionLink("Delete this Experience", "Delete", new { id = Model.ExpId })

