@model TravelBlogAgain.Models.Experience

@{
    ViewData["Title"] = "Experience Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit An Experience Entry</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ExpId)

    <div class="form-group">
        <label>Activity</label>
        <input class="form-control" @Html.EditorFor(model => model.Activity)
    </div>

    <div class="form-group">
        <label>Description</label>
        <input class="form-control" @Html.EditorFor(model => model.Description)
    </div>

    <div class="form-group">
        <label>Location</label>
        <select class="form-control" @Html.DropDownList("LocationId")
    </div>

    <label>Check people to remove them from this experience:</label><br />
    @foreach (var exp_per in ViewBag.joinList)
    {
        <input type="checkbox" name="linked_person" value=@exp_per.Experience_PersonId />@exp_per.Person.Name<br />
    }
    <label>Check people to add them to this experience:</label><br />
    @foreach (var person in ViewBag.unlinkList)
    {
        <input type="checkbox" name="unlinked_person" value=@person.PersonId />@person.Name<br />
    }
    <input type="submit" value="Edit" class="btn btn-info" />
}

@Html.ActionLink("Back to Experience Page", "Details", new { id = Model.ExpId })