@model IEnumerable<TravelBlogAgain.Models.Location>

@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to Indy's Travel Blog</h2>

@foreach ( var location in Model)
{
    <h3>@Html.DisplayFor(locationItem => location.Name)</h3>
    <h6>@Html.ActionLink("Edit Location", "Edit", new { id = location.LocationId}) | @Html.ActionLink("Delete Location", "Delete", new { id = location.LocationId })</h6>
    @foreach (var experience in location.Experiences)
    {
        <h4>@Html.DisplayFor(experienceItem => experience.Activity)</h4>

    }

}

@Html.ActionLink("Create New Location", "Create")